body {
	background: #1f1f1f;
	color: #ffffff;
	font: 1.2rem sans-serif;
	margin: 0;
}

header, main {
	margin: auto;
	padding: 0 1.5rem;
	max-width: 48rem;
}


nav {
	padding: .5rem;
	background: #3f3f3f;
}

nav a {
	margin: 0 1rem;
}

ul li {
	margin: 1rem 0;
}

a {
	color: #007fff;
	text-decoration: none
}

