body {
  background-color: #000;
  color: #FFF;
  font: 1.2rem sans-serif;
  text-align: center;
}

nav, nav a {
  margin: 1.2rem
}

a {
  color: #80F;
  text-decoration: none
}

article, section {
  margin: 2.4rem;
}

button {
  font-size: 1.2rem;
  width: 4rem;
  height: 2rem;
}

