body {
	background: #1f1f1f;
	color: #ffffff;
	font: 1.2rem / 1.5 sans-serif;
	max-width: 48rem;
	margin: auto;
	padding: 0 1rem
}

nav {
	padding: .5rem 0;
	border-bottom: 0.1rem solid
}


nav a {
	padding-right: 2rem
}

a {
	color: #007fff;
	text-decoration: none
}

a img, a span {
	vertical-align: middle
}

i a, i span {
	display: inline-block
}
