@font-face {
  font-family: "Fira Code";
  src: url("/static/font.woff2") format('woff');
}

html {
	scrollbar-gutter: stable both-edges;
}

html, body {
	height: 100%;
}

@media (prefers-color-scheme: light) {
  body {
		--bg: #eceff4;
		--fg: #2e3440;
		--hg: #d8dee9;
		--ug: #4c566a;
		--ag: #5e81ac;
  }
}

@media (prefers-color-scheme: dark) {
  body {
		--bg: #2e3440;
		--fg: #d8dee9;
		--hg: #3b4252;
		--ug: #e5e9f0;
		--ag: #88c0d0;
  }
}

[data-theme=light] {
		--bg: #eceff4;
		--fg: #2e3440;
		--hg: #d8dee9;
		--ug: #4c566a;
		--ag: #5e81ac;
}

[data-theme=dark] {
		--bg: #2e3440;
		--fg: #d8dee9;
		--hg: #3b4252;
		--ug: #e5e9f0;
		--ag: #88c0d0;
}

body {
	background: var(--bg);
	color: var(--fg);
  font-family: "Fira Code", sans;
  line-height: 1.5;
	max-width: 45rem;
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	padding: 1rem 1rem 0;
}

main {
	padding: 0 1rem
}

main img {
	width: 100%
}

h1, h2, h3 {
	line-height: 1.2
}

time {
	color: var(--ug)
}

a {
	color: var(--ag);
}

footer {
	margin-top: auto;
	padding: 1rem 0;
	text-align: center
}

.m-0 {
	margin: 0
}


.my-1 {
	margin-top: 1rem;
	margin-bottom: 1rem
}

.mx-1 {
	margin-left: 1rem;
	margin-right: 1rem
}

.my-auto {
	margin-top: auto;
	margin-bottom: auto
}

.nowrap {
	white-space: nowrap
}

pre {
	padding: .5rem 1rem;
	background: var(--hg);
	margin: 0;
	overflow-x: auto
}

code, button {
	font-family: "Fira Code", sans;
}

#theme-toggle {
	border: 0;
	background: var(--bg);
	color: var(--fg);
	text-decoration: underline;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.text-align-right {
	text-align: right
}

blockquote {
	margin: 2rem 0 
}
